extends layout

block content
  h1= title
  p Welcome to #{title}

  div.file-upload
    form(method="post", enctype="multipart/form-data", action="/photos")
      input#files(type="file", name="file")
      input(type="submit")

  div.file-listg
    each file in files
      li= file.name
      img(src=file.path)